<!DOCTYPE HTML>
<html>
    <head>
        <title>后台</title>
        <meta name="keywords" content="k8s,helm,前端,python" />
        <meta name="author" content="大番茄" />
        <meta name="description" content="主页" />
        <meta charset="UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="/static/js/back-test.vue"></script>
        <script src="/static/js/back.js" defer></script>
    </head>
    <body>
        后台页
        <div id="app">
            <BackIndex></BackIndex>
        </div>

    </body>
</html>