<!DOCTYPE HTML>
<html>
    <head>
        <title>{{post_name}}</title>
        <!--
        <base href="http://127.0.0.1:5000" />
        -->
        <link rel="shortcut icon" href="static/123.jpg" type="image/jpeg" />
        <meta name="keywords" :content="keywords" />
        <meta name="author" content="大番茄" />
        <meta name="description" content="主页" />
        <meta charset="UTF-8" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="app">
        page.html
        {{content}}
        </div>

    </body>
</html>